# =========================
# Python
# =========================
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# =========================
# Node.js
# =========================
node_modules/
dist/
build/

# npm
npm-debug.log*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary files
# =========================
*.tmp
*.temp

# =========================
# Cache
# =========================
.cache/

# =========================
# Models
# =========================
*.keras
*.h5
*.pth
*.pt